* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header_div {
  display: flex;
  justify-content: center;
  background-color: crimson;
  color: blanchedalmond;
  padding: 6px;
}
.body_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.input_field {
  position: relative;
  top: 20px;
  width: 300px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(221, 213, 213);
  border: none;
}
.search_btn {
  position: relative;
  top: 20px;
  padding: 10px;
  font-size: 20px;
  background-color: cornflowerblue;
  border: none;
  cursor: pointer;
}
.footer_div {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  color: rgb(250, 165, 53);
  background-color: black;
}
.movie_container {
  margin-top: 100px;
  display: flex;
  gap: 30px;
  height: fit-content;
  margin-left: 300px;
  margin-right: 100px;
}
.movie_container .movie_element {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: rgb(43, 22, 108);
}
.movie_container .movie_element {
}
